
<p>This is the partial for view 2.</p>
<p>
	Showing of 'interpolate' filter:
	{{ 'Current version is v%VERSION%.' | interpolate }}
</p>


<p>
	Dump out the raw setup data {{ setup }}
</p>

<p>
TEST {{ test }}
</p>

<div class="row">
	<div class="col-sm-4">
		<h4>Camber</h4>
		<pre>{{front_camber || setup.front_camber}}</pre>
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="front_camber" btn-radio="'0'">0</label>
			<label class="btn btn-primary" ng-model="front_camber" btn-radio="'-1'">-1</label>
			<label class="btn btn-primary" ng-model="front_camber" btn-radio="'-2'">-2</label>
		</div>			
	</div>
	<div class="col-sm-4">
		<h4>Front Toe</h4>
		<pre>{{front_toe || setup.front_toe}}</pre>
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="front_toe" btn-radio="'-2'">-2</label>
			<label class="btn btn-primary" ng-model="front_toe" btn-radio="'-1'">-1</label>
			<label class="btn btn-primary" ng-model="front_toe" btn-radio="'0'">0</label>
			<label class="btn btn-primary" ng-model="front_toe" btn-radio="'1'">1</label>
			<label class="btn btn-primary" ng-model="front_toe" btn-radio="'2'">2</label>
		</div>		
	</div>
</div>
