
<p>This is the partial for view 2.</p>
<p>
	Showing of 'interpolate' filter:
	{{ 'Current version is v%VERSION%.' | interpolate }}
</p>


<a href="#view2new" class="btn-primary btn-lg">Add New Setup</a>

<table class="table">
	<tr>
		<td><h3>All Setups</h3></td>
		<td></td>
	</tr>
	<tr ng-repeat="setup in test">
		<td>{{ setup.title }}</td>
		<td>
			<a class="btn btn-primary" ui-sref="viewSetup({pk:setup.pk})">View</a>
			<a class="btn btn-danger" ng-click="deleteSetup(setup)">Delete</a>
		</td>
	</tr>
</table>

